<% let track_id = 0 %>

<h1>Check Out These Tracks!</h1>


 
<div style="align-content: center; display: flex; flex-wrap: wrap;">
    <% tracks.forEach(track => {%> 
    
        <form method="GET" action="./track">
        <button type="submit" id="<%=track_id%>" style="width: 200px; height: 200px;" value="<%= track.track.id %> " name="track" class="btn-group">
            <h4 class="text-shadow"><%= track.track.name %> </h4>
            By:
            <% track.track.artists.forEach(artist =>{ %>  
             <%= artist.name %>
             <%}) %>
        </button>
        </form>
        <% track_id ++ %> 
        <% }) %>  
      </div>
    


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            
          </button>
        </div>
        <div class="modal-body" id="modalBody" value="">
            <% tracks.forEach(track => {%>
                <%=track.track.name %>
                <% })%>
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>