 <% track.album.images.forEach(image => {%> 
        <%  if(image.height <= 300 && image.height >= 200){%> 

            <div class="card" style="width: 18rem; align-content: center; display: flex; flex-wrap: wrap;justify-content: center; margin: 0 auto; margin-top: 70px;">
                <img class="card-img-top" src="<%= image.url %>" alt="Card image cap">
                <div class="card-body">
                    <h1><%= track.name %></h1>
                    <h2>Artists:</h2>
                    <% track.artists.forEach(artist => {%> 
                        <p><%= artist.name %></p>
                        <%}); %> 
                </div>

                <div style="margin: 0 auto">
                    <button class="btn btn-success"><a href="<%= track.external_urls.spotify %>">Listen on Spotify Here!</a></button>
                
                
                    <form action="./profile-add" method="POST">
                        <input type="hidden" value="<%= track.name %>" name="trackTitle">
                        <input type="hidden" value="<%= track.id %>" name="trackId">
                        <input type="hidden" value="<%= track.artists.map(a=>a.name).join(", ") %>" name="trackArtists">
                        <button type="submit" class="btn btn-primary">Add this to your playlist!</button>
                        <!-- <button onclick="
                            fetch('/profile-add', {
                                method: 'post', body: new FormData(document.getElementById('addTrackForm'))
                            })">Add this to your playlist!</button> -->
                    </form>
                </div>
              </div>
            <%  }%> 
        <%}) %> 




<% console.log("RIGHT HERE >>>>>", track.album.images) %> 
